%p
  %b Name:
  = @user.name
%p
  %b Venue name:
  = @user.venue_name
%p
  %b Address:
  = @user.address
%p
  %b Start date:
  = @user.start_date
%p
  %b Days:
  = @user.days

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
